:root{
    --deep-blue: #023047;
}



input::placeholder{
    font-weight: 100;
    opacity: 0.7;
}


fieldset input{
    color: var(--deep-blue);
    font-size: 2vw;
    height: auto;
    width: 100%;
}

form button{
    color: var(--deep-blue);
}

@media(max-width: 900px){
    fieldset input{
        font-size: 7vw;
    }
}