:root{

}



input::placeholder{
    opacity: 0.7;
}


#fieldsetSignup input{
    font-size: 2vw;
    height: auto;
    width: 100%;
}

@media(max-width: 900px){
    #fieldsetSignup input{
        font-size: 7vw;
    }
}