

@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Fredoka:wght@300..700&display=swap');

:root{

    --border-color: rgba(255, 0, 0, 0);


    --off-white: rgba(247, 249, 252, 1.0);
    --soft-blue: rgba(58, 134, 255, 1.0);
    --light-grey-blue: rgba(230, 237, 245, 1.0);

    --forest-green: rgba(34, 139, 87, 1.0);
    --light-biege: rgba(250, 250, 245, 1.0);
    --soft-sage: rgba(232, 240, 230, 1.0);

    --ice-blue: #8ecae6;
    --strong-blue: 	#219ebc;
    --deep-blue: #023047;
    --yellow-gold: #ffb703;
    --gold: #fb8500;

}


*{
    font-family: 'Cal Sans';
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--border-color);
}

.user-projects{
    flex-direction: column;
    width: 75%;
    min-height: 2vh;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

/************************** name elements *************************************************************************/

body{
    margin-top: 0px;
    height: 100%;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 2px solid var(--border-color);
    overflow-x: hidden;
    padding: 5%;
    padding-top: 0%;
    background-color: var(--ice-blue);
    color: var(--deep-blue);
    font-family: 'Cal Sans';
}
@media(max-width:900px){
    body{
        padding: 2%;
    }
}
main{
    margin-top: 7vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 90%;
    border: 2px solid var(--border-color);
}
#projects-main{
    height: auto;
    max-width: 80%;
    border-right: 4px solid var(--gold);
    border-left: 4px solid var(--gold);
}
@media(max-width:900px){
    #projects-main{
        max-width: 90%;
        border: none;
    }
    
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95vw;
    height: 10vh;
    background-color: var(--deep-blue);
    border: 2px solid var(--border-color);
    padding-right: 5%;
    padding-left: 5%;
}

h1{
    font-size: 10vw;
    border: 2px solid var(--border-color);
}
h2{
    font-size: 4vw;
}
@media(max-width:900px){
    h2{
        font-size: 7vw;
    }

}

h3{
    font-size: 1.5vw;
    border: 2px solid var(--border-color);
    max-width: 20vw;
    text-align: center;
    font-weight: 100;
}
@media(max-width:900px){
    h3{
        font-size: 4.0vw;
        max-width: 50vw;
    }
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 30vw;
    border: 2px solid var(--border-color);
    background-color: var(--strong-blue);
    border-radius: 20px;
    opacity: 0;
    animation: myanimation .6s ease-out forwards;
}
@media (max-width: 800px){
    form{
        width: auto;
    }
}

fieldset{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--border-color);
}

input{
    border-radius: 10px;
    height: 3vh;
    width: 12vw;
}
input:focus{
    border: 4px solid var(--yellow-gold);
}
@media(max-width:900px){
    input{
        width: 45vw;
    }
}

div{
    border: 2px solid var(--border-color);
}

button{
    background-color: var(--yellow-gold);
    border: none;
    border-radius: 10px;
}
button:active{
    filter: brightness(85%);
}

a{
    text-decoration: none;
    color: var(--deep-blue);
    border: 2px solid var(--border-color);
}

label{
    font-size: 1.7vw;
}
@media(max-width:900px){
    label{
        font-size: 4.25vw;
    }
}

ol{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: 2px solid var(--border-color);
}
@media(max-width:900px){
    ol{
        align-items: center;

    }
}

footer{
    text-align: center;
    width: 10%;
    margin-top: 3vh;
    border: 2px solid var(--border-color);
}

@media(max-width:900px){
    footer{
        width: 50%;
    }
}


/****************************** form elements *********************************************************************/
.inputBox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
    width: 75%;
}
@media(max-width:900px){
    .inputBox{
        width: 100%;
    }
}

.fieldsetSignup{
    height: 35vh;
}

.fieldsetLogin{
    height: 20vh;
}

.formButton{
    height: 6vh;
    width: 60%;
    margin-top: 3vh;
    margin-bottom: 3vh;
    font-size: 1.5vw;
}
@media(max-width:900px){
    .formButton{
        font-size: 3.75vw;
    }
}
.formButton:hover{
    color: var(--yellow-gold);
    background-color: var(--deep-blue);
}

.formButtonAlt{
    margin-top: 4vh;
    margin-bottom: 4vh;
    height: 6vh;
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--yellow-gold);
    border-radius: 10px;
    opacity: 0;
    animation: myanimation 1.2s ease-out forwards;
    animation-delay: 1000ms;
}
@media(max-width:900px){
    .formButtonAlt{
        width: 35vw;
    }

}
.formButtonAlt:hover{
    color: var(--yellow-gold);
    background-color: var(--deep-blue);
}

.hidden-form{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.hidden-form:active{
    opacity: 1;
}

.requirements{
    height: 8%;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
@media(max-width:900px){
    .requirements{
        font-size: 3vw;

    }
}

#project-fieldset{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--border-color);
}

.input-container{
    margin-top: 2vh;
    margin-bottom: 2vh;
}



/***************************************************************************************************/


.header-options-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    height: 100%;
    border: 2px solid var(--border-color);
}
@media(max-width:900px){
    .header-options-container{
        width: 40%;
    }
}

.darkmodeContainer{
    height: 50%;
    width: 25%;
    border: 2px solid var(--border-color);
    background-image: url('../icons/icons8-dark-mode-90.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    animation: myanimation 2s forwards ease-out;
    animation-delay: 1000ms;
    opacity: 0;
}
@media (max-width: 900px){
    .darkmodeContainer{
        height: 70%;
        width: 20%;
    }

}


.logout-button{
    background-image: url('../icons/logout-icon.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 50%;
    width: 15%;
}
@media(max-width:900px){
    .logout-button{
        width: 35%;
    }
}


.home-screen-buttons{
    height: 10vh;
    width: 20vw;
    margin-top: 4vh;
    margin-bottom: 4vh;
    border: 2px solid var(--border-color);
    font-size: 2.5vw;
    color: var(--deep-blue);
}
.home-screen-buttons:hover{
    color: var(--yellow-gold);
    background-color: var(--deep-blue);
}
#completed{
    height: 8vh;
    width: 12vw;
    font-size: 1.5vw;
}
@media(max-width:900px){
    .home-screen-buttons{
        width: 50vw;
        font-size: 6vw;
    }
}


.header-title{
    color: var(--yellow-gold);
    font-size: 2vw;
}
@media(max-width:900px){
    .header-title{
        font-size: 6vw;
    }
}


.my-project{
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
    padding: 1vh;
    border-radius: 20px;
    border: 2px solid var(--yellow-gold);
}
@media(max-width:900px){
    .my-project{
        width: 90%;
    }
    
}

.project-title{
    font-size: 2.5vw;
}
.project-title-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 2vw;
}
@media(max-width:900px){
    .project-title-container{
        font-size: 6vw;
    }
}

.project-goal{
    font-size: 1.5vw;
    font-weight: 100;
}
.subtask{
    width: 30%;
    height: auto;
    border: 2px solid var(--border-color);
}
@media(max-width:900px){
    .subtask{
        width: 85%;
        margin-bottom: 2%;
    }
}

.h2-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 75%;
}

.add-new-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 75%;
    margin-bottom: 2vh;
}

.add-new{
    height: 6vh;
    width: 4vw;
    background-image: url('../icons/plus-icon.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: .5s ease-in-out
}
@media(max-width:900px){
    .add-new{
        width: 16vw;
    }
}
.add-new:active{
    filter: brightness(85%);
}
.add-new-open{
    background-image: url('../icons/close-icon.svg');
}

#home-button{
    background-image: url('../icons/home-icon.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 7vh;
    width: 4vw;
    background-color: var(--yellow-gold);
    border-radius: 10px;
}
@media(max-width:900px){
    #home-button{
        width: 12vw;
    }
}

.home-button-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 98%;
    padding-left: 2%;
}

.project-form{
    position: relative;
    display: none;
}

.project-form-show{
    display: flex;
}


#project-form-add-more{
    background-image: url('../icons/plus-icon.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 4vh;
    width: 4vh;
}



#project-form-add-more-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-top: 2vh;
}

#project-form-subtasks{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 90%;

}

.additional-task-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 90%;
}

.additional-task-fieldset{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}


#submit-new-project-button{
    background-image: url('../icons/submit-icon.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 4vh;
    width: 8vh;
}




/**************************** animation functions ***********************************************************************/

@keyframes myanimation{
    0%{
        transform: translateY(10vh);
    }
    100%{
        transform: translateY(0vh);
        opacity: 1;
    }
}