

:root{
    --border1: rgba(255,0,0,1);
    --border2: rgba(0,255,0,1);
    --border3: rgba(0,0,255,0);


    --soft-sage: rgba(232, 240, 230, 1.0);
    --ice-blue: #8ecae6;


}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border: 2px solid var(--border1);

    padding: 20px;
    background-color: var(--ice-blue);
}

.user-projects{
    width: 90%;
}








.project-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 15px;
    height: auto;
    width: 85%;
    background-color: var(--soft-sage);
    margin-top: 2vh;
    margin-bottom: 2vh;
}




.edit-button-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: auto;
    width: 100%;
}

.edit-button{
    background-color: rgba(0,0,0,0);
    background-image: url('edit_pencil_icon.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    height: 6vw;
    width: 6vw;
}





.project-title-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    width: 100%;
}

.project-title{
    font-size: 8vw;
    font-weight: 800;
    color: black;
    max-width: 60%;

}

.project-goal-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    width: 100%;

}

.project-goal{
    font-size: 4vw;
    font-weight: 400;
    color: black;
    max-width: 85%;

}

.project-section-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 100%;

}

.project-section-text{
    font-size: 4vw;
    font-weight: 100;
    color: black;
    max-width: 50%;
    opacity: 0.50;

}

.toggle-project-resources{

    border-radius: 10px;

}

.project-resources{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    max-height: 0vh;
    transition: max-height 0.3s ease-in-out;
}

.project-individual-resource{
    max-width: 80%;
    overflow-x: hidden;

}

.project-resource-link{
    font-size: 3vw;
}

.toggle-project-steps{
    border-radius: 10px;
}

.project-steps{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: auto;
    max-height: 0vh;

    transition: max-height 0.3s ease-in-out;

}

.project-individual-subtask{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: auto;
    overflow-x: hidden;
    overflow-y: hidden;

    border: 2px solid var(--border3);

}

.project-subtask-text{
    font-size: 4vw;
    font-weight: 400;
    color: black;
    width: 90%;
}

.subtask-checkbox{
    height: 6vw;
    width: 6vw;
}

.toggle-button{
    background-color: rgba(0,0,0,0);
    background-image: url('drop_down_arrow_icon.svg');
    transform: rotate(0.25turn);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    height: 6vw;
    width: 6vw;
}

.toggle-button-expanded{
    transform: rotate(0.00turn);
}